.feedback {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #d4f7f7;
}

.title,
.titleStatistics {
    color: #335858;
}

.button {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    background-color: #46e1e1;
    border-radius: 3px;
    box-shadow: 0 10px 10px -5px #0000004d;
    transition: background-color 700ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.button:not(:last-child) {
    margin-right: 10px;
}

.button:hover,
.button:focus {
    background-color: #b1e4e4;
}

.resultStatistics {
    margin-top: 40px;
}

.list {
    list-style-type: none;
    padding-left: 0;
}

.item {
    font-size: 18px;
    padding-bottom: 8px;
}